/* RESPONSIVE MOBILE FIXES */
@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
    .about-main-wrapper.float_left {
        padding: 50px 0px 0px;
    }
    .image-about-wrapper.float_left {
        padding-top: 50px;
    }
    img.image-section-au {
        width: 350px;
    }
    .mkapp-hf-hide {
        overflow: hidden;
        position: relative;
        left: 0;
    }
    div#toggle_close {
        position: absolute;
        z-index: 100;
        right: 10px;
        top: 30px;
        font-size: 25px;
        color: #aaa;
        cursor: pointer;
        height: 25px;
        width: 25px;
        text-align: center;
        border-radius: 50px;
    }
    .row.plr-50 {
        padding: 0;
    }
    .about-main-wrapper .sb-about-section h5 {
        font-size: 19px;
    }
    .about-main-wrapper .sb-about-section {
        padding: 24px 0px 19px 12px;
    }
    .about-content {
        padding: 17px !important;
    }
    .emergency2-main-wrapper .sb-emergency-section .content h4 {
        font-size: 27px;
    }
    h6.home1-section-heading1.text-start {
        font-size: 18px !important;
    }

    h6.home1-section-heading1 {
        font-size: 18px !important;
    }
    button.owl-next {
        position: unset !important;
    }
    button.owl-prev {
        position: unset !important;
    }
    .services-main-wrapper .sb-service-section .slider-service-section .owl-carousel .owl-nav {
        position: absolute;
        top: auto;
        bottom: -100px;
        display: flex;
        justify-content: center;
    }
    .video-section {
        height: 500px !important;
    }
    .emergency2-main-wrapper .sb-emergency-section {
        padding: 50px 25px;
    }

    .col-lg-7.mkapp-hf-right {
        float: left;
        width: 100%;
        padding: 50px 0px 100px 0px;
    }
    .mkapp-form {
        padding-left: 3%;
    }
    .container form {
        padding: 10px 20px 0 20px;
    }
    form.raa-form {
        padding: 10px 2px 0 2px;
    }

    iframe {
        width: 122%;
    }
    form .form-row .input-data {
        width: 95%;
    }
    .col-lg-6.mka-6 {
        left: 0;
    }
    .col.fi-col {
        margin-left: 0%;
    }

    /* about us page css  */
    h4.sb-sub-h4.wow.fadeIn {
        font-size: 20px !important;
        line-height: 39px;
    }
    h2.sb-sub-h2.wow.fadeIn {
        font-size: 35px !important;
    }

    h4.ab-cont-h4 {
        font-size: 30px;
        line-height: 39px;
        font-weight: 600;
    }
    .row.ab-row1 {
        padding-top: 24px;
    }
    p.ab-rel-p {
        font-size: 18px;
    }    
    .rel {
        margin-bottom: 32px;
        font-size: 18px;
        line-height: 22px;
    }
    .main-col1.ab2 {
        width: 100%;
    }
    h2.ab-th1 {
        font-size: 30px;
        font-weight: 600;
        line-height: 37px;
    }
    .col-lg-6.maincol2.ab1 {
        padding-top: 48px;
        /* padding-left: 16px; */
        padding: 16px 0px 42px 16px;
    }
    h2.ab-4s-1 {
        font-size: 26px;
        line-height: 33px;
        margin-bottom: 12px;
    }
    /* services page css  */
    .service-heading-sec {
        padding: 168px 23px 100px;
    }

    .ss-c-1 {
        display: flex;
        flex-direction: column;
    }
    img.serives-1 {
        width: 100% !important;
        /* height: 10%; */
    }
    .sc-heading {
        padding: 8px 14px 0px 14px;
    }
    h3.ss-c-h3 {
        margin-bottom: 12px;
        font-size: 32px;
    }
    form.si-cu-form {
        padding: 10px 0px 109px 0px;
    }
    img.ds-m-logo {
        width: 51%;
    }
    img.sl-logo {
        width: 25%;
    }
    a.uybs-a {
        font-size: 14px;
    }
    li.ds-em-li {
        font-size: 13px;
    }
    .emergency-main-wrapper .sb-emergency-main-wrapper .content h4{
        font-size: 24px;
    }
    .container.ds-cd-sec {
        display: flex;
        flex-direction: column;
        padding: 0px;
    }
    .gallery-image {
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .main-contact-sec {
        padding: 0% 0% 10% 0%;
    }
    .ab-2s {
        padding: 165% 0 10% 0;
    }
    a.email-a {
        font-size: 15px;
    }
    col-lg-6.ab-col {
        padding-right: 20px;
    }
    h2.main-ab4-h2 {
        font-size: 22px;
    }
    h2.sh-cont-h2 {
        font-size: 30px;
        line-height: 1.4em;
    }
    .service-heading-sec {
        text-align: left; 
    }
    p.ss-c--p {
        padding-top: 10px;
    }
    .footer-main-wrapper {
        padding: 57px 20px 30px 20px;
    }
    .footer-main-wrapper .sb-footer-section .footer-logo {
        padding-bottom: 29px;
    }
    h1.faq-accordion-h1 {
        width: 312px;
        padding: 14px;
    }
    div.c {
        margin: 50px 0px;
    }
    .faq-input:checked ~ h1 ~ div.p {
        max-height: 500px;
    }
    form.si-cu-form {
        width: 100%;
    }
    .mcs-1 {
        padding: 35px 3px;
    }
    h2.mc-cu-h2 {
        font-size: 33px;
        line-height: 47px;  
        letter-spacing: 2px;
    }
    .col-lg-6.af-2 {
        padding: 20% 1% 4%;
    }
    .col-lg-6.af-1 {
        padding: 20% 6% 4%;
    }
    img.ab-img {
        margin-bottom: 25px;
        width: 100%;
    }
    .ab-col {
        padding: 22px;
    }
    .ab-4s-1 span {
        font-size: 33px;
        line-height: 47px;
    }
	.footer-main-wrapper section .last-para {
		text-align: inherit;
	}
    .banner-slider-inner {
        width: 100%;
        height: 81vh;
    }
    .sb-banner-section h4 {
        line-height: 35px;
        font-size: 25px;
    }
    .sb-banner-section h2 {
        font-size: 34px;
    }    
    .sb-banner-section p {
        width: 346px;
        padding: 27px;
    }
    section.gallery-sec {
        padding: 967% 0% 0% 0%;
    }
    .contact-main-wrapper {
        background-image: url(../images/dental-stories-about-page-mobile-1.jpg) !important;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .image-about-wrapper .about-content h4 {
        line-height: 40px;
        font-size: 29px;
    }
    .faq-l::before{
        content: "\276F";
        left: 110%;
      }

}


/* RESPONSIVE TABLET FIXES */
@media only screen and (max-width: 991px), only screen and (max-device-width: 991px) {
    .container.ds-cd-sec {
        display: flex;
        justify-content: space-between;
    }
    .main-col1.ab2 {
        width: 100%;
        min-height: 633px;
        background-position: 50% 105%;
    }
    section.gallery-sec {
        padding: 858% 0% 0% 0%;
    }
    img.image-section-au {
        width: 100%;
    }
    iframe {
        width: 100%;
    }
    h4.qb-au1 {
        font-size: 19px;
    }
    .ds-home-banner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mcs-details {
        width: 100%;
    }
    .row.mainrow1 {
        display: flex;
        flex-direction: column-reverse;
      }
}



/* RESPONSIVE MEDIUM  FIXES */
@media only screen and (max-width: 1199px), only screen and (max-device-width: 1199px) {}